
<!DOCTYPE >
<head data-hook="inside_head"></head>
<meta charset="utf-8">
 
<body id="default" class="one-col" data-hook="body" style="position: relative">
 
  	<header id="fixedheader" class="row-fluid" data-hook="">
    
	  <div> 
	     <nav id="top-nav-bar">
	       	<ul id="nav-bar"></ul>
	      </nav>
	     </div>	
     <nav class="row-fluid">
	     <figure id="logo" class="levi-logo" data-hook=""> 
	        <a class="ie8-logo" href="/en">
               <img src="/assets/levis-subnav-logo.png" alt="Levis-subnav-logo">
             </a>
           </figure>
     
            <ul class="myMenu" >
     	       <li id="men"><a href="#" class="mensection">Men</a><li>
   
               <li id="women"><a href="#">Women</a></li>
        
               <li id="accessories"><a href="#">Accessories</a></li>
         
                <li id="501"><a href="#">501®</a></li>
         
                <li id="madeandcrafted"><a href="#" style="width: auto">Levi's® Made & Crafted™</a></li>
         
                <li><a href="#">Commputer</a></li>
                <li><a href="#">501® CT</a></li>
              </ul>
       <!-- code for search box-->
         <div id="search-bar">
              <form method="get" action="/en/search" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"></div>
                  <input type="search" placeholder="SEARCH" name="keywords" id="keywords">
                      <input type="submit" value="Search" id="temp">
                </form>
           </div>
      </nav>
      
	 <!-- submenu  for men-->
	 
	  <div id="sub-menu-2" class="sub-menu" style=""> 
          <hr style="height: 225px;">  
          <div class="sub-cat">
           <h3> Clothing  </h3>
           <ul style="">    
               <li><a href="#">Jeans</a</li>
               <li><a href="#">Trousers</a></li>
               <li><a href="#">Shirts</a></li>
               <li><a href="#">T-SHIRTS &amp; POLOS</a></li>
               <li><a href="#">Jackets</a></li>
               <li><a href="#">Shorts</a></li>
               <li><a href="#">Accessories</a></li>
               <li><a href="#">Shop All</a></li>
             </ul> 
            </div> 
            <hr style="height: 225px;">
            <div class="sub-cat">
               <h3> Jeans By Fit </h3>
               <ul style="">
                 <li><a href="#">Skinny</a></li>
                 <li><a href="#">Straight</a></li>
                 <li><a href="#">Slim</a></li>
                 <li><a href="#">Taper</a></li>
                </ul>

                 <h3> Popular Styles </h3>
                <ul style="">
                  <li><a href="#">501&reg; ORIGINAL</a></li>
                  <li><a href="#">505&trade; STRAIGHT</a></li>
                  <li><a href="#">510&trade; SKINNY</a></li>
                  <li><a href="#">511&trade; SLIM FIT</a></li>
                 </ul>

             </div>
               <h3> COLLECTIONS </h3>
                <ul style="">
                    <li><a href="#">COMMUTER</a></li>
                    <li><a href="#">501&reg; CT</a></li>
                     <li><a href="#">501&reg; Innovators</a></li>
                     <li><a href="#">LEVI'S&reg; VINTAGE CLOTHING</a></li>
                     <li><a href="#">LEVI'S&reg; MADE &amp; CRAFTED&trade;</a></li>
                     <div id="pages-in-sub-menu"></div>
                     <li><a href="#">Shop All</a></li>
                 </ul>
          </div>
      
    <!-- Load Men Women Submenus End-->
    
    <!-- Load women sub menu-->
    
    <div id="sub-menu-3" class="sub-menu" style=""> 
    <hr style="height: 225px;">  
      <div class="sub-cat">
        <h3> Clothing  </h3>
        <ul style="">    
            <li><a href="#">Jeans</a></li>
            <li><a href="#">Tops</a></li>
            <li><a href="#">Skirts &amp; Dresses</a></li>
            <li><a href="#">Shorts</a></li>
            <li><a href="#">Jackets</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Shop All</a></li>
        </ul>
      </div>

 <hr style="height: 225px;">
      <div class="sub-cat">
        <h3> Jeans By Fit </h3>
        <ul style="">
            <li><a href="#">Straight</a></li>
            <li><a href="#">Skinny</a></li>
            <li><a href="#">Boyfriend</a></li>
            <li><a href="#">Leggings</a></li>
        </ul>

          <h3> Curve ID </h3>
          <ul style="">
              <li><a href="#">Demi</a></li>
              <li><a href="#">Bold</a></li>
              <li><a href="#">Slight</a></li>
            <li><a href="#">Discover Your Curve</a> </li>
          </ul>
          </div>
      <hr style="height: 225px;">
      <div class="sub-cat">
        <h3> COLLECTIONS </h3>
        <ul style="">
              <li><a href="#">501&reg; CT</a></li>
              <li><a href="#">Revel&trade; </a></li>
              <li><a href="#">Coolmax</a></li>
              <li><a href="#"> Waste < Less™ </a></li>
          <div id="pages-in-sub-menu">
          </div>
          <li><a href="#">Shop All</a>
          </li>
        </ul>
      </div>
      </div>
<!-- submenu for accessories -->

<div id="sub-menu-4" class="sub-menu" style=""> 

    <!-- Load Accessories Submenus -->
    
      <hr style="height: 142px;">  
      <div class="sub-cat">
        <h3> Accessories </h3>
        <ul style="">
            <li><a href="#">Shop All Men</a></li>
            <li><a href="#">Shop All Women</a></li>
            <li><a href="#">Shop All</a></li>
        </ul>
      </div>
    
      <hr style="height: 142px;">  
      <div class="sub-cat">
        <h3> Men  </h3>
        <ul style="">    
            <li><a href="#">Belts</a></li>
            <li><a href="#">Bags</a></li>
            <li><a href="#">Wallets &amp; Small Leather Goods</a></li>
            <li><a href="#"</a></li>
            <li><a href="#">Underwear</a></li>
            <li><a href="#">Shop All</a></li>
        </ul>
      </div>
      <hr style="height: 142px;">  
      <div class="sub-cat">
        <h3> Women  </h3>
        <ul style="">    
            <li><a href="#">Wallets &amp; Small Leather Goods</a></li>
            <li><a href="#">Shop All</a></li>
        </ul>
      </div>
</div>
   
    <!-- submenu for501 -->
    <div style="height: 64px;" id="sub-menu-5" class="sub-menu">  
  <hr style="height: 35px;">    
  <div class="sub-cat">    
    <ul style="margin-top:5%;" class="remove-right-border">    
      <li><a href="#">Learn more</a></li>
      <li>
        <a href="#">Shop 501</a>
      </li>         
    </ul>    
  </div>    
</div>
<!-- submenu madeandcrafted-->
  <div id="sub-menu-6" class="sub-menu" style=""> 
        <hr style="height: 100px;">  
        <div class="sub-cat">
          <h3>Men</h3> 
              <ul style="">    
              	  <li><a href="#">Shirts</a></li>
                  <li><a href="#">T-SHIRTS &amp; POLOS</a></li>
                  <li><a href="#">FIT GUIDE</a></li>
                   <li><a href="#">Shop All</a></li>
              </ul>
        </div>
</div>
       <!-- main-div-udoun row-fluid -->
       <div class="main-div-updown row-fluid">
<div class="tab">  
  <div class="deal-nav-box">	
      <a href="#" class="up-down-anchor">HIDE LATEST DEALS &nbsp;<span style="text-transform: none;">x</span></a> 
      <div class="UpdownSpan" style="display: none;"></div>
      <!-- <div class="closeDiv" style="display: inline;">x</div> -->
      <div class="tab-visual-hack"></div>
  </div>
</div> 
 <div class="subUpdowndiv">
    <div class="TabMainDiv" style="height: 73px;">
       <div class="deal-box">
           <div style="float:none;margin: 0 auto;" class="latest-deals-box">
            FREE DELIVERY ON ALL ORDERS<div style="margin:auto;display:inline"> <a class="btn-highlight-more" href="/en/promotions/free-delivery-on-all-orders"> <p>Learn more</p> <span>&amp;</span></a></div>
           </div>  
        </div>
       </div>
      </div> 
      </div>
      </header>
    

<!-- code for carosul -->
<div data-hook="" class="row-fluid" id="wrapper" style="clear:both!important; position:relative!important;" data-hook="">
   <div class="row-fluid">
     <div data-hook="" class="span12" id="content">
        <div class="clearfix gap-10 bg-white"></div>
          <div id="slider-a-1">
            <ul class="carousel-slides">
               <li style="display: block;">
               <div class="lb-slide-hero">
		           <img src="https://s3-ap-southeast-1.amazonaws.com/levimyprod/homepage_a1_module_images/20/main/PROMO---501-Jeans.jpg" alt="Promo---501-jeans">
		        </div>
		         <div class="lb-details-wrap-left-half">
                    <div class="overlay"></div>
                    <div class="lb-slide-copy text-color-white lb-slide-copy-left">
                              <h3>mens</h3>
                              <h2>501<sup>&reg;</sup> jeans</h2>
                              <p>the original blue jean that does not go out <br> of style. an essential piece for every man.</p>
        	                  <a class="button red-shop-button first-button button-large" id="a1" target="" href="/filter/categories_men_clothing_jeans/fitnumber_501-original/fitnumber_501-r">
        	                  	<p>SHOP MEN
        	                  		<span>&amp;</span>
        	                  		</p>
        	                 	</a>
			         </div>
		            </div>
                </li>
              <li style="display: none;">
               <div class="lb-slide-hero">
		         <img src="https://s3-ap-southeast-1.amazonaws.com/levimyprod/homepage_a1_module_images/31/main/MAIN-BANNER-1---Commuter-Jeans.jpg" alt="Main-banner-1---commuter-jeans">
		       </div>
		       <div class="lb-details-wrap-left-half">
                <div class="overlay"></div>
                <div class="lb-slide-copy text-color-white lb-slide-copy-left">
                               <h3>MENS</h3>
                               <h2>LEVI'S<sup>&reg;</sup> COMMUTER</h2>
                               <p>A BLEND OF PERFORMANCE, FUNCTION AND STYLE. THE COMMUTER <br> COLLECTION KEEPS YOU ON POINT ON RIDES AND ON THE STREETS.</p>
                               <a href="/filter/categories_men/collection_commuter" target="" class="button red-shop-button first-button button-large"><p>SHOP MEN<span>&amp;</span></p></a>	
			        </div>
		           </div>
	            </li>
              <li style="display: none;">
               <div class="lb-slide-hero">
			  <img src="https://s3-ap-southeast-1.amazonaws.com/levimyprod/homepage_a1_module_images/32/main/MAIN-BANNER-2---501-CT.jpg" alt="Main-banner-2---501-ct">
		      </div>
		      <div class="lb-details-wrap-left-half">
                <div class="overlay"></div>
                <div class="lb-slide-copy text-color-white lb-slide-copy-left">
                             <h3>LATEST ARRIVALS</h3>
                             <h2>THE NEW 501<sup>&reg;</sup>  CT</h2>
                             <p>DOWN-SIZED, TRUE-TO-SIZE AND UP-SIZED. THE NEW 501<sup>&reg;</sup> CT <br> CAN BE WORN THREE WAYS FOR INDIVIDUAL STYLE.</p>
                             <a href="/filter/categories_men/collection_501-ct" target="" class="button red-shop-button first-button button-large"><p>SHOP MEN<span>&amp;</span></p></a>	
                             <a href="/filter/categories_women/collection_501-ct" target="" class="button red-shop-button first-button button-large"><p>SHOP WOMEN<span>&amp;</span></p></a>	</div>
		       </div>
	           </li>
               <li style="display: none;">
               <div class="lb-slide-hero">
			   <img src="https://s3-ap-southeast-1.amazonaws.com/levimyprod/homepage_a1_module_images/25/main/MAIN-BANNER-3---SkinnyJeans.jpg" alt="Main-banner-3---skinnyjeans">
		       </div>
		       <div class="lb-details-wrap-left-half">
               <div class="overlay"></div>
                <div class="lb-slide-copy text-color-white lb-slide-copy-left">
                             <h3>WOMENS</h3>
                             <h2>SKINNY JEANS</h2>
                             <p>SHAPE, LIFT AND DEFINE YOUR SHAPE WITH LEVI'S<sup>&reg;</sup> <br> SKINNY JEANS. FIND YOUR PERFECT PAIR TODAY.</p>
                              <a href="/filter/categories_women/style_skinny" target="" class="button red-shop-button first-button button-large"><p>SHOP WOMEN<span>&amp;</span></p></a>	
		 	     </div> 
		    </div>
	       </li>
        </ul>


    <div class="carousel-controller">
        <div class="middle">
                <ul>
                    <li class="">501® Jeans</li>
                    <li>COMMUTER</li>
                    <li>501® CT</li>
                    <li class="active">SKINNY JEANS</li>
                </ul>
        </div>
    </div>


</div>

<div class="clearfix gap-10 bg-white"></div>
</div>

</div>
</div>








		
<!-- code for footer -->
  <footer id="footer" class="sixteen" data-hook="">
	<div class="footer-nav-div sixteen clearfix" style="margin-top: 43px;">
		 <div data-hook="" class="footer-div">
<!-- code for find help-->		 	
		 	<ul class="footer-text-link">
				<li><h3>Find Help</h3></li>		
				<li>
					<a href="#"><span>Customer Service</span></a>
				</li>											
				<li>
					<a href="#"><span>Return Policy</span></a>
				</li>													
				<li>
					<a href="#"><span>Shipping</span></a>
				</li>												
				<li>
					<a href="#"><span>Payment</span></a>
				</li>			
				<li>
					<a href="#"><span>Track an Order</span></a>
				</li>																											
				<li style="font-size: 10px !important;font-weight: bold !important; letter-spacing: 0.2px; line-height: 15px;   margin-top: 6px;">
			    <!-- <span style='background: url("/assets/phone.png") no-repeat; display: inline-block; height: 12px;width: 12px;'></span> 
					<span> -->
						For Online Store Enquiry<br>
						Call Us:&nbsp;&nbsp;1800-81-6191
					</span>
				</li>
			</ul>
<!-- code for social-link -->			
			<ul style="margin: 0 4% 8% 0;" class="footer-social-link">
				<li><h3>Socialize with Us</h3></li>				
				<li class="social_hover">					
					<a href="https://www.facebook.com/Levis.malaysia" rel="external" target="_new">
						<span style="background: url(&quot;/assets/fb.png&quot;) no-repeat; display: inline-block; height: 19px;	width: 28px;"></span> 
						&nbsp;<span style="text-transform:none;">Be a Fan</span>
					</a>	
				</li>				
				<li style="margin-top:4px;" class="social_hover">
					<a rel="external" href="https://twitter.com/LevisMY" target="_blank">
						<span style="background: url(&quot;/assets/twitter.png&quot;) no-repeat; display: inline-block; height: 16px; width: 30px;"></span> 
						<span>Follow Us</span>
					</a>	
				</li>				
				<li style="margin-top:4px;" class="social_hover">
					<a href="http://www.pinterest.com/levisbrand/" rel="external" target="_new">		
						<span style="background: url(&quot;/assets/pinterest.png&quot;) no-repeat;display: inline-block; height: 22px;	width: 28px;"></span> 
						&nbsp;<span>Pin Us</span>
					</a>	
				</li>				
				<li style="margin-top:4px;" class="social_hover">
					<a rel="external" href="http://www.youtube.com/user/levis" target="_new">
						<span style="background: url(&quot;/assets/youtube.png&quot;) no-repeat; display: inline-block; height: 19px; width: 28px;"></span> 
						&nbsp;<span>YouTube</span>
					</a>	
				</li>
				<li style="margin-top:4px;" class="social_hover">
					<a rel="external" href="http://instagram.com/LevisMY" target="_new">
						<span style="background: url(&quot;/assets/instagram.png&quot;) no-repeat; display: inline-block; height: 18px; width: 28px;"></span> 
						&nbsp;<span>Instagram</span>						
					</a>	
				</li>
			</ul>
			<!-- code for subscribe & save -->
			
         <div class="footer-subscribe">				
				<h3>Subscribe &amp; Save</h3>
				<form method="get" id="footer_signup" data-remote="true" action="/email_signups/subscribe" accept-charset="UTF-8" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"></div>
					<p>
						Sign up for our email and we'll send you a promo code for FREE SHIPPING on your first order.
					</p>
					<div class="subscribed-email-container">		
		 				<p style="width:63%;" class="email-container">
	 						<input type="text" size="30" required="required" placeholder="Enter your email" name="email" id="input-email" class="email-signup-unsuscribed-email required" >
							<a id="link-email" class="black-arrow-right-small footer-arrow-click">
							</a>
						</p>						
					</div>	
					<input type="checkbox" class="age-checkbox" name="ageCheck" id="links-privacy-terms" style="display:none;">			
					<label class="Label-of-link-and-piracy" for="links-privacy-terms">
						I am over 16 years old and have read and understood the&nbsp;<a data-fancybox-type="inline" href="#tnc" class="my-account-fancy">Terms of Use</a> 
						and 
						<a data-fancybox-type="inline" href="#privacy_policy" class="my-account-fancy">								
							Privacy Policy
						</a>
						.
					</label>						
					<p style="margin-top:9px;">
						<a class="email-signup-unsubscribed" style="font-weight:normal; text-decoration:underline" href="/en/email_option">
							Unsubscribe
						</a>
					</p>
</form>			</div>
</div>
</div>
<!-- last footer menu -->
<div>
	<ul class="footer-menu">			
		<li><a href="#">About Us</a></li>		
		   <li><a href="#">Contact Us</a></li>
			<li><a rel="external" href="#" target="_blank"  style="height:15px;"><span>Careers</span></a></li>					
			<li><a href="#">Site Map</a></li>	
			<li><a href="#">Terms of Use</a></li>			
			<li><a href="#" style="margin-right: 18px;">Privacy Policy</a</li>					
             <li>
				<a data-fancybox-type="inline" href="#secure" class="fancybox-lock-secure-shopping secure-shop"  style="margin-left: -16px !important">				
					<span class="secure-icon"  style="padding-left: 18px; margin-left: -16px; margin-right: -6px;"></span>Secure Shopping
				</a>	
			 </li>

		</ul>	
	</div>
			
		<!-- copyright  -->
		<section class="copyright">
  	<span>&copy; 2014 &nbsp;Levi Strauss &amp; Co.</span>
  </section>	
		
</footer> 
	
</body>
</html>
