<!DOCTYPE >
<html>
<head> </head>
<body id="default" class="one-col" data-hook="body">
  <div class="container row">
    <div id="fixedheader" class="row-fluid" data-hook="">
	  <div class="col-sm-12"> 
	     <nav id="top-nav-bar" class="span12">
	       	<ul id="nav-bar" class="inline" data-hook="">
	       	</ul>
	      </nav>
	     </div>	
   <nav class="row-fluid">
	 <figure id="logo" class="levi-logo" data-hook=""> 
	    <a class="ie8-logo" href="/en">
           <img src="/assets/levis-subnav-logo.png" alt="Levis-subnav-logo">
        </a>
     </figure>
     <ul id="main-nav-bar" class="inline span8" data-hook="">
     	<a>Men</a>
     	</li>
         <li id="menu-2" class="">
         <li id="menu-3">
         <li id="menu-4">
         <li id="menu-5">
         <li id="menu-6">
         <li class="not">
         <li class="not">
      </ul>
	       		
	       	
	       	
	       </nav>
        	</div>
		</div> 
	<div id="fixedfooter"> footer containt </div>
	
</body>
</html>
