<!DOCTYPE >
<html>
<head> </head>
<body id="default" class="one-col" data-hook="body">
  <div class="container row">
    <div id="fixedheader">
	  <div> 
	     <nav id="top-nav-bar">
	       	<ul id="nav-bar">
	       	</ul>
	      </nav>
	     </div>	
   <nav class="row-fluid">
	 <figure id="logo" class="levi-logo" data-hook=""> 
	    <a class="ie8-logo" href="/en">
           <img src="/assets/levis-subnav-logo.png" alt="Levis-subnav-logo">
        </a>
     </figure>
     
     <ul class="myMenu" >
     	<li id="men"><a href="#" class="mensection">Men</a><li>
   
       <li id="women"><a href="#">Women</a></li>
        
         <li id="accessories"><a href="#">Accessories</a></li>
         
         <li id="501"><a href="#">501®</a></li>
         
         <li id="madeandcrafted"><a href="#" style="width: auto">Levi's® Made & Crafted™</a></li>
         
         <li><a href="#">Commputer</a></li>
         <li><a href="#">501® CT</a>
         </li>
      </ul>
      <div id="search-bar">
    <form method="get" action="/en/search" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"></div>
  <input type="search" placeholder="SEARCH" name="keywords" id="keywords">
  <input type="submit" value="Search" id="temp">
</form>
</div>
  </nav>
	 <!-- submenu  for men-->
	 
	 <div id="sub-menu-2" class="sub-menu" style=""> 
      <hr style="height: 225px;">  
      <div class="sub-cat">
        <h3> Clothing  </h3>
        <ul style="">    
            <li><a href="#">Jeans</a</li>
            <li><a href="#">Trousers</a></li>
            <li><a href="#">Shirts</a></li>
            <li><a href="#">T-SHIRTS &amp; POLOS</a></li>
            <li><a href="#">Jackets</a></li>
            <li><a href="#">Shorts</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Shop All</a></li>
        </ul>
      </div>
      <hr style="height: 225px;">
      <div class="sub-cat">
        <h3> Jeans By Fit </h3>
        <ul style="">
            <li><a href="#">Skinny</a></li>
            <li><a href="#">Straight</a></li>
            <li><a href="#">Slim</a></li>
            <li><a href="#">Taper</a></li>
        </ul>

          <h3> Popular Styles </h3>
          <ul style="">
              <li><a href="#">501&reg; ORIGINAL</a></li>
              <li><a href="#">505&trade; STRAIGHT</a></li>
              <li><a href="#">510&trade; SKINNY</a></li>
              <li><a href="#">511&trade; SLIM FIT</a></li>
          </ul>

      </div>
       <h3> COLLECTIONS </h3>
        <ul style="">
              <li>
                <a href="#">COMMUTER</a>
              </li>
              <li>
                <a href="#">501&reg; CT</a>
              </li>
              <li>
                <a href="#">501&reg; Innovators</a>
              </li>
              <li>
                <a href="#">LEVI'S&reg; VINTAGE CLOTHING</a>
              </li>
              <li>
                <a href="#">LEVI'S&reg; MADE &amp; CRAFTED&trade;</a>
              </li>
          <div id="pages-in-sub-menu">
          
</div>
          <li>
              <a href="#">Shop All</a>
          </li>
        </ul>
      </div>
      
    <!-- Load Men Women Submenus End-->
    
    <!-- Load women sub menu-->
    
    <div id="sub-menu-3" class="sub-menu" style=""> 
    <hr style="height: 225px;">  
      <div class="sub-cat">
        <h3> Clothing  </h3>
        <ul style="">    
            <li><a href="#">Jeans</a></li>
            <li><a href="#">Tops</a></li>
            <li><a href="#">Skirts &amp; Dresses</a></li>
            <li><a href="#">Shorts</a></li>
            <li><a href="#">Jackets</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Shop All</a>
          </li>
        </ul>
      </div>

 <hr style="height: 225px;">
      <div class="sub-cat">
        <h3> Jeans By Fit </h3>
        <ul style="">
            <li><a href="#">Straight</a></li>
            <li><a href="#">Skinny</a></li>
            <li><a href="#">Boyfriend</a></li>
            <li><a href="#">Leggings</a></li>
        </ul>

          <h3> Curve ID </h3>
          <ul style="">
              <li><a href="#">Demi</a></li>
              <li><a href="#">Bold</a></li>
              <li><a href="#">Slight</a></li>
            <li><a href="#">Discover Your Curve</a> </li>
          </ul>
          </div>
      <hr style="height: 225px;">
      <div class="sub-cat">
        <h3> COLLECTIONS </h3>
        <ul style="">
              <li><a href="#">501&reg; CT</a></li>
              <li><a href="#">Revel&trade; </a></li>
              <li><a href="#">Coolmax</a></li>
              <li><a href="#"> Waste < Less™ </a></li>
          <div id="pages-in-sub-menu">
          </div>
          <li><a href="#">Shop All</a>
          </li>
        </ul>
      </div>
      </div>
<!-- submenu for accessories -->

<div id="sub-menu-4" class="sub-menu" style=""> 

    <!-- Load Accessories Submenus -->
    
      <hr style="height: 142px;">  
      <div class="sub-cat">
        <h3> Accessories </h3>
        <ul style="">
            <li><a href="#">Shop All Men</a></li>
            <li><a href="#">Shop All Women</a></li>
            <li><a href="#">Shop All</a></li>
        </ul>
      </div>
    
      <hr style="height: 142px;">  
      <div class="sub-cat">
        <h3> Men  </h3>
        <ul style="">    
            <li><a href="#">Belts</a></li>
            <li><a href="#">Bags</a></li>
            <li><a href="#">Wallets &amp; Small Leather Goods</a></li>
            <li><a href="#"</a></li>
            <li><a href="#">Underwear</a></li>
            <li><a href="#">Shop All</a></li>
        </ul>
      </div>
      <hr style="height: 142px;">  
      <div class="sub-cat">
        <h3> Women  </h3>
        <ul style="">    
            <li><a href="#">Wallets &amp; Small Leather Goods</a></li>
            <li><a href="#">Shop All</a></li>
        </ul>
      </div>
</div>
   
    <!-- submenu for501 -->
    <div style="height: 64px;" id="sub-menu-5" class="sub-menu">  
  <hr style="height: 35px;">    
  <div class="sub-cat">    
    <ul style="margin-top:5%;" class="remove-right-border">    
      <li><a href="#">Learn more</a></li>
      <li>
        <a href="#">Shop 501</a>
      </li>         
    </ul>    
  </div>    
</div>
<!-- submenu madeandcrafted-->
  <div id="sub-menu-6" class="sub-menu" style=""> 
        <hr style="height: 100px;">  
        <div class="sub-cat">
          <h3>Men</h3> 
              <ul style="">    
              	  <li><a href="#">Shirts</a></li>
                  <li><a href="#">T-SHIRTS &amp; POLOS</a></li>
                  <li><a href="#">FIT GUIDE</a></li>
                   <li><a href="#">Shop All</a></li>
              </ul>
        </div>
</div>
       <!-- main-div-udoun row-fluid -->
       <div class="main-div-updown row-fluid">
<div class="tab">  
  <div class="deal-nav-box">	
      <a href="#" class="up-down-anchor">HIDE LATEST DEALS &nbsp;<span style="text-transform: none;">x</span></a> 
      <div class="UpdownSpan" style="display: none;"></div>
      <!-- <div class="closeDiv" style="display: inline;">x</div> -->
      <div class="tab-visual-hack"></div>
  </div>
</div> 
 <div class="subUpdowndiv">
    <div class="TabMainDiv" style="height: 73px;">
       <div class="deal-box">
           <div style="float:none;margin: 0 auto;" class="latest-deals-box">
            FREE DELIVERY ON ALL ORDERS<div style="margin:auto;display:inline"> <a class="btn-highlight-more" href="/en/promotions/free-delivery-on-all-orders"> <p>Learn more</p> <span>&amp;</span></a></div>
           </div>  
        </div>
       </div>
      </div> 
      </div>
    </div>
</div>
		
<!-- code for footer -->
  <footer id="footer" class="sixteen" data-hook="">
	<div class="footer-nav-div sixteen clearfix" style="margin-top: 43px;">
		 <div data-hook="" class="footer-div">
<!-- code for find help-->		 	
		 	<ul class="footer-text-link">
				<li><h3>Find Help</h3></li>		
				<li>
					<a href="#"><span>Customer Service</span></a>
				</li>											
				<li>
					<a href="#"><span>Return Policy</span></a>
				</li>													
				<li>
					<a href="#"><span>Shipping</span></a>
				</li>												
				<li>
					<a href="#"><span>Payment</span></a>
				</li>			
				<li>
					<a href="#"><span>Track an Order</span></a>
				</li>																											
				<li style="font-size: 10px !important; letter-spacing: 0.2px; line-height: 15px;   margin-top: 6px;">
			    <!-- <span style='background: url("/assets/phone.png") no-repeat; display: inline-block; height: 12px;width: 12px;'></span> 
					<span> -->
						For Online Store Enquiry<br>
						Call Us:&nbsp;&nbsp;1800-81-6191
					</span>
				</li>
			</ul>
<!-- code for social-link -->			
			<ul style="margin: 0 4% 8% 0;" class="footer-social-link">
				<li><h3>Socialize with Us</h3></li>				
				<li>					
					<a href="https://www.facebook.com/Levis.malaysia" rel="external" target="_new">
						<span style="background: url(&quot;/assets/fb.png&quot;) no-repeat; display: inline-block; height: 19px;	width: 28px;"></span> 
						&nbsp;<span style="text-transform:none;">Be a Fan</span>
					</a>	
				</li>				
				<li style="margin-top:4px;">
					<a rel="external" href="https://twitter.com/LevisMY" target="_blank">
						<span style="background: url(&quot;/assets/twitter.png&quot;) no-repeat; display: inline-block; height: 16px; width: 30px;"></span> 
						<span>Follow Us</span>
					</a>	
				</li>				
				<li style="margin-top:4px;">
					<a href="http://www.pinterest.com/levisbrand/" rel="external" target="_new">		
						<span style="background: url(&quot;/assets/pinterest.png&quot;) no-repeat;display: inline-block; height: 22px;	width: 28px;"></span> 
						&nbsp;<span>Pin Us</span>
					</a>	
				</li>				
				<li style="margin-top:4px;">
					<a rel="external" href="http://www.youtube.com/user/levis" target="_new">
						<span style="background: url(&quot;/assets/youtube.png&quot;) no-repeat; display: inline-block; height: 19px; width: 28px;"></span> 
						&nbsp;<span>YouTube</span>
					</a>	
				</li>
				<li style="margin-top:4px;">
					<a rel="external" href="http://instagram.com/LevisMY" target="_new">
						<span style="background: url(&quot;/assets/instagram.png&quot;) no-repeat; display: inline-block; height: 18px; width: 28px;"></span> 
						&nbsp;<span>Instagram</span>						
					</a>	
				</li>
			</ul>
			<!-- code for subscribe & save -->
			
         <div class="footer-subscribe">				
				<h3>Subscribe &amp; Save</h3>
				<form method="get" id="footer_signup" data-remote="true" action="/email_signups/subscribe" accept-charset="UTF-8" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"></div>
					<p>
						Sign up for our email and we'll send you a promo code for FREE SHIPPING on your first order.
					</p>
					<div class="subscribed-email-container">		
		 				<p style="width:63%;" class="email-container">
	 						<input type="text" size="30" required="required" placeholder="Enter your email" name="email" id="input-email" class="email-signup-unsuscribed-email required">
							<a id="link-email" class="black-arrow-right-small footer-arrow-click">
							</a>
						</p>						
					</div>	
					<input type="checkbox" class="age-checkbox" name="ageCheck" id="links-privacy-terms" style="display:none;">			
					<label class="Label-of-link-and-piracy" for="links-privacy-terms">
						I am over 16 years old and have read and understood the&nbsp;<a data-fancybox-type="inline" href="#tnc" class="my-account-fancy">Terms of Use</a> 
						and 
						<a data-fancybox-type="inline" href="#privacy_policy" class="my-account-fancy">								
							Privacy Policy
						</a>
						.
					</label>						
					<p style="margin-top:9px;">
						<a class="email-signup-unsubscribed" style="font-weight:normal; text-decoration:underline" href="/en/email_option">
							Unsubscribe
						</a>
					</p>
</form>			</div>
			
		 	</div>
		</div>
</footer> 
	
</body>
</html>
